<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <app-login-form></app-login-form>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card creaditials-card d-flex justify-content-between align-items-center">
        <div class="card-body m-2">
          <span>
            <div class="text-center text-white">Seller Creaditials</div>
            <div>{{sellerEmail}}</div>
            <div>{{sellerPass}}</div>
          </span>
        </div>
        <div class="card-body m-2">
          <span>
            <div class="text-center text-white">Bidder Creaditials</div>
            <div>{{bidderEmail}}</div>
            <div>{{bidderPass}}</div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>