
.card{
    background-color: black;
    color: white;
}

input:focus{
    border: 1px solid grey;
    box-shadow: 0 0 0 1px gray ;
}

.btn-login{
    width: 80%;
    background-color: black;
    color: white;
    border: 2px solid gray;
}

.btn-login:hover,.btn-login:focus,.btn-login:active{
    background-color: white;
    color: black;
    box-shadow: none;
    border: 2px solid transparent;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.btn-login:focus,.btn-login:active{
    border: 2px solid gray;
}